name: Commit

on:
  pull_request:
    paths:
      - .github/**
      - Taskfile.yml
  pull_request_target:
    paths:
      - cmd/**
      - pkg/**
      - desktop/**
      - e2e/**
      - Cargo.toml
      - Cargo.lock
      - go.mod
      - go.sum

jobs:
  commits:
    name: Check Commits
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v6

      - uses: 1Password/check-signed-commits-action@v1

      - uses: wagoid/commitlint-github-action@v6
