name: E2E tests

on:
  release:
    types: [prereleased]
  workflow_dispatch:
  pull_request:

jobs:
  setup-cache:
    runs-on: ubuntu-latest
    steps:
      # Saves ~3 minutes if skipped
      # - uses: jlumbroso/free-disk-space@v1.3.1

      - uses: actions/checkout@v6

      # TODO: update 'uses' to @main when action is published
      - name: Compile binary
        uses: ./.github/actions/compile-integration-test-binary
        with:
          cache-key: ${{ runner.os }}-e2e-binary-${{ github.sha }}

  test-e2e:
    needs: setup-cache
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
    strategy:
      fail-fast: false
      max-parallel: 16
      matrix:
        label:
          - build
          - context
          - ide
          - integration
          - machine
          - machineprovider
          - provider
          - ssh
          - up-cleanup-fail
          - up-cleanup-invalid
          - up-docker-build
          - up-docker-compose-build
          - up-docker-compose
          - up-docker
          - up-env-vars
          - up-error-output
          - up-git-commit
          - up-git-pr
          - up-git-private
          - up-kubernetes
          - up-no-devcontainer
          - up-podman
          - up-recreate-local
          - up-recreate-remote
          - up-reset-remote
          - up-subpath
        include:
          - label: build
            needs-kind: true
            needs-disk-space: true
          - label: up-kubernetes
            needs-kind: true
            needs-disk-space: true
          - label: up-docker-compose
            needs-disk-space: true
          - label: up-docker-compose-build
            needs-disk-space: true
          - label: up-git-pr
            needs-disk-space: true

    steps:
      - uses: jlumbroso/free-disk-space@v1.3.1
        if: matrix.needs-disk-space == true

      - uses: actions/checkout@v6

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # TODO: update 'uses' to @main when action is published
      - name: Run integration test
        uses: ./.github/actions/run-integration-test
        with:
          label: ${{ matrix.label }}
          needs-kind: ${{ matrix.needs-kind || false }}
          gh-username: ${{ secrets.GH_PRIVATE_REPO_USER_TEST }}
          gh-access-token: ${{ secrets.GH_PRIVATE_REPO_TOKEN_TEST }}
          binary-cache-key: ${{ runner.os }}-e2e-binary-${{ github.sha }}
