name: E2E tests

on:
  release:
    types: [prereleased]
  workflow_dispatch:
  pull_request:

env:
  GO111MODULE: on

jobs:
  test-e2e:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        label:
          - "build"
          - "ide"
          - "integration"
          - "machine"
          - "machineprovider"
          - "provider"
          - "ssh"
          - "up"
          - "up-docker"
          - "up-podman"
          - "up-docker-compose"
          - "up-docker-build"
          - "up-docker-compose-build"
          - "context"

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Free disk space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf /usr/local/share/boost
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"
          docker system prune -af

      - name: Setup Golang with cache
        uses: magnetikonline/action-golang-cache@v5
        with:
          go-version-file: go.mod
          cache-key-suffix: "-${{ matrix.label }}"

      - name: Set up kind k8s cluster
        uses: engineerd/setup-kind@v0.5.0
        with:
          version: "v0.20.0"
          image: kindest/node:v1.27.3

      - name: Testing kind cluster set-up
        run: |
          kubectl cluster-info
          kubectl get pods -n kube-system -v 10
          echo "kubectl config current-context:" $(kubectl config current-context)
          echo "KUBECONFIG env var:" ${KUBECONFIG}

      - name: Build binary and copy to the E2E directory
        working-directory: ./e2e
        run: |
          chmod +x ../hack/build-e2e.sh
          BUILDDIR=bin SRCDIR=".." ../hack/build-e2e.sh

      - name: E2E test
        working-directory: ./e2e
        run: |
          sudo env "PATH=$PATH" "GOROOT=$GOROOT" KUBECONFIG=/home/runner/.kube/config \
            GH_USERNAME=${GH_USERNAME} \
            GH_ACCESS_TOKEN=${GH_ACCESS_TOKEN} \
            go test -v -ginkgo.v -timeout 3600s --ginkgo.label-filter=${{ matrix.label }}
        env:
          GH_USERNAME: ${{ secrets.GH_PRIVATE_REPO_USER_TEST }}
          GH_ACCESS_TOKEN: ${{ secrets.GH_PRIVATE_REPO_TOKEN_TEST }}
