name: E2E tests

on:
  release:
    types: [prereleased]
  workflow_dispatch:
  pull_request:

env:
  GO111MODULE: on

jobs:
  setup-cache:
    runs-on: ubuntu-latest
    steps:
      - uses: jlumbroso/free-disk-space@v1.3.1

      - uses: actions/checkout@v6

      - name: Setup Go
        uses: magnetikonline/action-golang-cache@v5
        with:
          go-version-file: go.mod
          cache-key-suffix: "e2e-tests"

      - name: Build binary
        run: |
          mkdir -p ./e2e/bin
          CGO_ENABLED=0 go build -ldflags "-s -w" -o ./e2e/bin/devpod-linux-amd64

      - name: Cache binary
        uses: actions/cache@v4
        with:
          path: ./e2e/bin
          key: ${{ runner.os }}-e2e-binary-${{ github.sha }}

  test-e2e:
    needs: setup-cache
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      max-parallel: 16
      matrix:
        label:
          - "build"
          - "context"
          - "ide"
          - "integration"
          - "machine"
          - "machineprovider"
          - "provider"
          - "ssh"
          - "up-cleanup-fail"
          - "up-cleanup-invalid"
          - "up-docker-build"
          - "up-docker-compose-build"
          - "up-docker-compose"
          - "up-docker"
          - "up-env-vars"
          - "up-error-output"
          - "up-git-commit"
          - "up-git-pr"
          - "up-git-private"
          - "up-kubernetes"
          - "up-no-devcontainer"
          - "up-podman"
          - "up-recreate-local"
          - "up-recreate-remote"
          - "up-reset-remote"
          - "up-subpath"

    steps:
      - uses: jlumbroso/free-disk-space@v1.3.1

      # TODO: update 'uses' to @main when action is published
      - name: Run integration test
        uses: ./.github/actions/run-integration-test
        with:
          label: ${{ matrix.label }}
          gh-username: ${{ secrets.GH_PRIVATE_REPO_USER_TEST }}
          gh-access-token: ${{ secrets.GH_PRIVATE_REPO_TOKEN_TEST }}
          binary-cache-key: ${{ runner.os }}-e2e-binary-${{ github.sha }}
