name: E2E tests

on:
  release:
    types: [prereleased]
  workflow_dispatch:
  pull_request:

env:
  GO111MODULE: on

jobs:
  setup-cache:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Setup Golang with cache
        uses: magnetikonline/action-golang-cache@v5
        with:
          go-version-file: go.mod
          cache-key-suffix: "e2e-tests"

      - name: Build binary
        working-directory: ./e2e
        run: |
          chmod +x ../hack/build-e2e.sh
          BUILDDIR=bin SRCDIR=".." ../hack/build-e2e.sh

      - name: Cache built binary
        uses: actions/cache@v4
        with:
          path: ./e2e/bin
          key: ${{ runner.os }}-e2e-binary-${{ github.sha }}

  test-e2e:
    needs: setup-cache
    runs-on: ubuntu-latest
    strategy:
      matrix:
        label:
          - "build"
          - "ide"
          - "integration"
          - "machine"
          - "machineprovider"
          - "provider"
          - "ssh"
          - "up-env-vars"
          - "up-git-commit"
          - "up-git-pr"
          - "up-git-private"
          - "up-kubernetes"
          - "up-no-devcontainer"
          - "up-recreate-local"
          - "up-subpath"
          - "up-recreate-remote"
          - "up-reset-remote"
          - "up-error-output"
          - "up-cleanup-fail"
          - "up-cleanup-invalid"
          - "up-docker"
          - "up-podman"
          - "up-docker-compose"
          - "up-docker-build"
          - "up-docker-compose-build"
          - "context"

    steps:
      - name: Maximize build space
        uses: easimon/maximize-build-space@master
        with:
          root-reserve-mb: 512
          swap-size-mb: 1024
          remove-dotnet: "true"

      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Restore binary
        uses: actions/cache/restore@v4
        with:
          path: ./e2e/bin
          key: ${{ runner.os }}-e2e-binary-${{ github.sha }}

      - name: cluster setup
        uses: engineerd/setup-kind@v0.5.0
        with:
          version: "v0.20.0"
          image: kindest/node:v1.27.3

      - name: Cluster info
        run: |
          kubectl cluster-info
          kubectl get pods -n kube-system -v 10
          echo "kubectl config current-context:" $(kubectl config current-context)
          echo "KUBECONFIG env var:" ${KUBECONFIG}

      - name: E2E test
        working-directory: ./e2e
        run: |
          sudo env "PATH=$PATH" "GOROOT=$GOROOT" KUBECONFIG=/home/runner/.kube/config \
            GH_USERNAME=${GH_USERNAME} \
            GH_ACCESS_TOKEN=${GH_ACCESS_TOKEN} \
            go test -v -ginkgo.v -timeout 3600s --ginkgo.label-filter=${{ matrix.label }}
        env:
          GH_USERNAME: ${{ secrets.GH_PRIVATE_REPO_USER_TEST }}
          GH_ACCESS_TOKEN: ${{ secrets.GH_PRIVATE_REPO_TOKEN_TEST }}
