name: Pull Request CI Checks

on:
  pull_request:

jobs:
  pre-commit:
    name: Pre-commit Checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: biomejs/setup-biome@v2

      - uses: actions/setup-python@v6
        with:
          cache: pip
          python-version: 3.x

      - run: pip install -r requirements.txt

      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - uses: golangci/golangci-lint-action@v9
        with:
          version: latest
          install-only: true

      - run: go install golang.org/x/tools/cmd/goimports@latest

      - uses: actions/cache@v5
        with:
          path: ~/.cache/pre-commit
          key: pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}

      - run: pre-commit run --all-files

  commit:
    name: Check Commits
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v6

      - uses: 1Password/check-signed-commits-action@v1

      - uses: wagoid/commitlint-github-action@v6

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: jlumbroso/free-disk-space@v1.3.1

      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest

  build-ui:
    name: User Interface Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: setup Node
        uses: actions/setup-node@v6
        with:
          node-version: "latest"

      - name: install dependencies
        working-directory: ./desktop
        run: yarn install --frozen-lockfile

      - name: lint
        working-directory: ./desktop
        run: yarn lint:ci

      - name: format
        working-directory: ./desktop
        run: yarn format:check

      - name: type check
        working-directory: ./desktop
        run: yarn types:check

      - name: build
        working-directory: ./desktop
        run: yarn build

  build-cli:
    name: Build CLI Binaries
    strategy:
      matrix:
        include:
          - runner: ubuntu-latest
          - runner: macos-latest
          - runner: windows-latest
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: get operating system lowercase
        id: os
        shell: bash
        run: |
          OS=$(echo "${{ runner.os }}" | tr '[:upper:]' '[:lower:]')
          if [ "$OS" == "macos" ]; then
            OS="darwin"
          fi
          echo "runner_os=$OS" >> "$GITHUB_OUTPUT"

      - uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: "~> v2"
          args: build --id devpod-${{ steps.os.outputs.runner_os }} --snapshot

      - uses: actions/upload-artifact@v6
        with:
          name: devpod-${{ steps.os.outputs.runner_os }}
          path: dist/devpod-${{ steps.os.outputs.runner_os }}_*/devpod-${{ steps.os.outputs.runner_os }}-*

  integration-tests:
    name: Integration Tests
    needs: build-cli
    strategy:
      matrix:
        include:
          - runner: ubuntu-latest
            free-disk-space: false
            install-kind: false
            needs-github-token: false
            label: context
          - runner: ubuntu-latest
            free-disk-space: false
            install-kind: false
            needs-github-token: false
            label: ide
          - runner: ubuntu-latest
            free-disk-space: false
            install-kind: false
            needs-github-token: true
            label: integration
          - runner: ubuntu-latest
            free-disk-space: false
            install-kind: false
            needs-github-token: false
            label: machine
          - runner: ubuntu-latest
            free-disk-space: false
            install-kind: false
            needs-github-token: false
            label: machineprovider
          - runner: ubuntu-latest
            free-disk-space: false
            install-kind: false
            needs-github-token: false
            label: provider
          - runner: ubuntu-latest
            free-disk-space: false
            install-kind: false
            needs-github-token: false
            label: ssh
          - runner: ubuntu-latest
            free-disk-space: true
            install-kind: true
            needs-github-token: false
            label: build
          - runner: ubuntu-latest
            free-disk-space: true
            install-kind: true
            needs-github-token: false
            label: up
          - runner: windows-latest
            free-disk-space: false
            install-kind: false
            needs-github-token: false
            label: context
          - runner: windows-latest
            free-disk-space: false
            install-kind: false
            needs-github-token: false
            label: provider
          - runner: ubuntu-latest
            free-disk-space: false
            install-kind: false
            needs-github-token: false
            label: docker-install
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: jlumbroso/free-disk-space@v1.3.1
        if: matrix.free-disk-space == true && runner.os == 'Linux'

      - uses: actions/checkout@v6

      - name: setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: get operating system lowercase
        id: os
        shell: bash
        run: |
          OS=$(echo "${{ runner.os }}" | tr '[:upper:]' '[:lower:]')
          if [ "$OS" == "macos" ]; then
            OS="darwin"
          fi
          echo "runner_os=$OS" >> "$GITHUB_OUTPUT"

      - name: download CLI artifacts
        uses: actions/download-artifact@v7
        with:
          pattern: devpod-${{ steps.os.outputs.runner_os }}
          path: e2e/bin/
          merge-multiple: true

      # e2e expects executable to have name defined in e2e/framework/framework.go
      - name: setup executable
        shell: bash
        run: |
          find ./e2e/bin/ -name "devpod-${{ steps.os.outputs.runner_os }}-amd64" -exec mv {} ./e2e/bin/devpod-${{ steps.os.outputs.runner_os }}-amd64 \;
          chmod +x "./e2e/bin/devpod-${{ steps.os.outputs.runner_os }}-amd64"

      # NOTE: engineerd/setup-kind does not work on Windows runners
      - name: setup kind
        if: matrix.install-kind == true && runner.os != 'Windows'
        uses: engineerd/setup-kind@v0.6.2
        with:
          version: v0.24.0
          image: kindest/node:v1.34.0@sha256:7416a61b42b1662ca6ca89f02028ac133a309a2a30ba309614e8ec94d976dc5a

      - name: remove docker
        if: matrix.label == 'docker-install'
        run: |
          sudo systemctl stop docker.socket docker.service
          sudo apt-get remove -y docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin
          sudo rm -rf /var/lib/docker /var/lib/containerd /usr/bin/docker /usr/bin/dockerd

      - name: run test
        shell: bash
        working-directory: ./e2e
        env:
          # NOTE: Github credentials are required for tests using private repos
          GH_USERNAME: ${{ github.repository_owner }}
          GH_ACCESS_TOKEN: ${{ matrix.needs-github-token == false && '' || secrets.GH_PRIVATE_REPO_TOKEN_TEST }}
          GOTOOLCHAIN: auto
        run: |
          if [ "${{ runner.os }}" == "Linux" ]; then
            sudo \
              GH_USERNAME="${GH_USERNAME}" \
              GH_ACCESS_TOKEN="${GH_ACCESS_TOKEN}" \
              KUBECONFIG="${KUBECONFIG:-$HOME/.kube/config}" \
              PATH="${PATH}" \
              GOROOT="${GOROOT}" \
              go test -v -ginkgo.v -timeout 3600s --ginkgo.label-filter=${{ matrix.label }}
          else
            GH_USERNAME="${GH_USERNAME}" \
              GH_ACCESS_TOKEN="${GH_ACCESS_TOKEN}" \
              KUBECONFIG="${KUBECONFIG:-$HOME/.kube/config}" \
              PATH="${PATH}" \
              GOROOT="${GOROOT}" \
              go test -v -ginkgo.v -timeout 3600s --ginkgo.label-filter=${{ matrix.label }}
          fi

      - name: verify docker is installed
        if: matrix.label == 'docker-install'
        run: docker --version && docker ps

  build-desktop:
    name: Build Desktop Application
    needs: build-cli
    strategy:
      matrix:
        include:
          - arch: amd64
            target: x86_64-unknown-linux-gnu
            runner: ubuntu-latest
          # arm64 Linux builds are not yet supported
          # - arch: arm64
          #   target: aarch64-unknown-linux-gnu
          #   runner: ubuntu-latest
          - arch: amd64
            target: x86_64-apple-darwin
            runner: macos-latest
          - arch: arm64
            target: aarch64-apple-darwin
            runner: macos-latest
          - arch: amd64
            target: x86_64-pc-windows-msvc
            runner: windows-latest
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v6

      - name: setup Node
        uses: actions/setup-node@v6
        with:
          node-version: "latest"

      - name: setup Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}

      - name: Rust cache
        uses: swatinem/rust-cache@v2
        with:
          workspaces: "./desktop/src-tauri -> target"

      - name: get operating system lowercase
        id: os
        shell: bash
        run: |
          OS=$(echo "${{ runner.os }}" | tr '[:upper:]' '[:lower:]')
          if [ "$OS" == "macos" ]; then
            OS="darwin"
          fi
          echo "runner_os=$OS" >> "$GITHUB_OUTPUT"

      - name: download CLI artifacts
        uses: actions/download-artifact@v7
        with:
          pattern: devpod-${{ steps.os.outputs.runner_os }}
          path: desktop/src-tauri/bin/
          merge-multiple: true

      - name: setup executable
        shell: bash
        run: |
          find ./desktop/src-tauri/bin/ -name "devpod-${{ steps.os.outputs.runner_os }}-${{ matrix.arch }}" -exec cp {} ./desktop/src-tauri/bin/devpod-cli-${{ steps.os.outputs.runner_os }}-${{ matrix.arch }} \;
          chmod +x "./desktop/src-tauri/bin/devpod-cli-${{ steps.os.outputs.runner_os }}-${{ matrix.arch }}"

      - name: install linux dependencies
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update && sudo apt-get install -y \
            libayatana-appindicator3-dev \
            libgtk-3-dev \
            librsvg2-dev \
            libwebkit2gtk-4.1-dev \
            patchelf

      - name: install desktop dependencies
        working-directory: ./desktop
        run: yarn install --frozen-lockfile

      - name: generate signing key and update config
        id: generate
        working-directory: ./desktop
        shell: bash
        run: |
          yarn tauri signer generate -- --ci -w ./app.key
          echo "tauri_privatekey=$(cat ./app.key)" >> "$GITHUB_ENV"
          TAURI_PUBKEY=$(cat ./app.key.pub)
          jq --arg pubkey "$TAURI_PUBKEY" '.plugins.updater.pubkey = $pubkey' src-tauri/tauri.conf.json > tmp.json && mv tmp.json src-tauri/tauri.conf.json

      - name: tauri build
        uses: tauri-apps/tauri-action@v0.6
        with:
          projectPath: "./desktop"
          args: "--target ${{ matrix.target }} ${{ runner.os == 'Linux' && '--config src-tauri/tauri-flatpak.conf.json --bundles appimage,deb,updater' || '' }}"
          includeUpdaterJson: ${{ runner.os == 'Linux' && 'true' || 'false' }}
        env:
          TAURI_SIGNING_PRIVATE_KEY: "${{ steps.generate.outputs.tauri_privatekey }}"
