name: Pull Request CI Checks

on:
  pull_request:

jobs:
  pre-commit:
    name: Pre-commit Checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: biomejs/setup-biome@v2

      - uses: actions/setup-python@v6
        with:
          cache: pip
          python-version: 3.x

      - run: pip install -r requirements.txt

      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - uses: golangci/golangci-lint-action@v9
        with:
          version: latest
          install-only: true

      - run: go install golang.org/x/tools/cmd/goimports@latest

      - uses: actions/cache@v5
        with:
          path: ~/.cache/pre-commit
          key: pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}

      - run: pre-commit run --all-files

  commit:
    name: Check Commits
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v6

      - uses: 1Password/check-signed-commits-action@v1

      - uses: wagoid/commitlint-github-action@v6

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: jlumbroso/free-disk-space@v1.3.1

      - uses: actions/checkout@v6

      - name: setup Go
        uses: magnetikonline/action-golang-cache@v5
        with:
          go-version-file: go.mod

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest
