name: Pull Request CI Checks

on:
  pull_request:

jobs:
  pre-commit:
    name: Pre-commit Checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: biomejs/setup-biome@v2

      - uses: actions/setup-python@v6
        with:
          cache: pip
          python-version: 3.x

      - run: pip install -r requirements.txt

      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - uses: golangci/golangci-lint-action@v9
        with:
          version: latest
          install-only: true

      - run: go install golang.org/x/tools/cmd/goimports@latest

      - uses: actions/cache@v5
        with:
          path: ~/.cache/pre-commit
          key: pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}

      - run: pre-commit run --all-files

  commit:
    name: Check Commits
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v6

      - uses: 1Password/check-signed-commits-action@v1

      - uses: wagoid/commitlint-github-action@v6

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: jlumbroso/free-disk-space@v1.3.1

      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest

  build-ui:
    name: User Interface Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: setup Node
        uses: actions/setup-node@v6
        with:
          node-version: "latest"

      - name: install dependencies
        working-directory: ./desktop
        run: yarn install --frozen-lockfile

      - name: lint
        working-directory: ./desktop
        run: yarn lint:ci

      - name: format
        working-directory: ./desktop
        run: yarn format:check

      - name: type check
        working-directory: ./desktop
        run: yarn types:check

      - name: build
        working-directory: ./desktop
        run: yarn build

  build-cli:
    name: Build CLI Binaries
    strategy:
      matrix:
        include:
          - runner: ubuntu-latest
          - runner: macos-latest
          - runner: windows-latest
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: "~> v2"
          args: build --id devpod-${{ runner.os }} --snapshot

      - uses: actions/upload-artifact@v6
        with:
          name: devpod-${{ runner.os }}
          path: dist/

  integration-tests:
    name: Integration Tests
    needs: build-cli
    strategy:
      matrix:
        include:
          - runner: ubuntu-latest
            free-disk-space: false
            install-kind: false
            needs-github-token: false
            label: context
          - runner: ubuntu-latest
            free-disk-space: false
            install-kind: false
            needs-github-token: false
            label: ide
          - runner: ubuntu-latest
            free-disk-space: false
            install-kind: false
            needs-github-token: false
            label: integration
          - runner: ubuntu-latest
            free-disk-space: false
            install-kind: false
            needs-github-token: false
            label: machine
          - runner: ubuntu-latest
            free-disk-space: false
            install-kind: false
            needs-github-token: false
            label: machineprovider
          - runner: ubuntu-latest
            free-disk-space: false
            install-kind: false
            needs-github-token: false
            label: provider
          - runner: ubuntu-latest
            free-disk-space: false
            install-kind: false
            needs-github-token: false
            label: ssh
          - runner: ubuntu-latest
            free-disk-space: true
            install-kind: true
            needs-github-token: false
            label: build
          - runner: ubuntu-latest
            free-disk-space: true
            install-kind: true
            needs-github-token: false
            label: up
          - runner: windows-latest
            free-disk-space: false
            install-kind: false
            needs-github-token: false
            label: context
          - runner: windows-latest
            free-disk-space: false
            install-kind: false
            needs-github-token: false
            label: provider
          - runner: ubuntu-latest
            free-disk-space: false
            install-kind: false
            needs-github-token: false
            label: docker-install
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: jlumbroso/free-disk-space@v1.3.1
        if: matrix.free-disk-space == true && runner.os == 'Linux'

      - uses: actions/checkout@v6

      - name: setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: download CLI artifacts
        uses: actions/download-artifact@v7
        with:
          pattern: devpod-${{ runner.os }}
          path: dist/
          merge-multiple: true

      - name: copy binary to e2e directory
        uses: actions/script@v8
        with:
          script: |
            const fs = require('fs');
            const path = require('path');
            const runnerOs = process.env['RUNNER_OS'].toLowerCase();
            const arch = 'amd64';
            const sourcePath = path.join('dist', `devpod_${runnerOs}_${arch}_*`);
            const destDir = path.join('e2e', 'bin');
            const destPath = path.join(destDir, `devpod-${runnerOs}-${arch}${runnerOs === 'windows' ? '.exe' : ''}`);
            if (!fs.existsSync(destDir)) {
              fs.mkdirSync(destDir, { recursive: true });
            }
            fs.copyFileSync(sourcePath, destPath);
            if (runnerOs !== 'windows') {
              fs.chmodSync(destPath, 0o755);
            }
        env:
          RUNNER_OS: ${{ runner.os }}

      # NOTE: engineerd/setup-kind does not work on Windows runners
      - name: setup kind
        if: matrix.install-kind == true && runner.os != 'Windows'
        uses: engineerd/setup-kind@v0.6.2
        with:
          version: v0.24.0
          image: kindest/node:v1.34.0@sha256:7416a61b42b1662ca6ca89f02028ac133a309a2a30ba309614e8ec94d976dc5a

      - name: remove docker
        if: matrix.label == 'docker-install'
        run: |
          sudo systemctl stop docker.socket docker.service
          sudo apt-get remove -y docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin
          sudo rm -rf /var/lib/docker /var/lib/containerd /usr/bin/docker /usr/bin/dockerd

      - name: run test
        shell: bash
        working-directory: ./e2e
        env:
          # NOTE: Github credentials are required for tests using private repos
          GH_USERNAME: ${{ github.repository_owner }}
          GH_ACCESS_TOKEN: ${{ matrix.needs-github-token == false && '' || secrets.GITHUB_TOKEN }}
        run: |
          export GH_USERNAME="${GH_USERNAME}"
          export GH_ACCESS_TOKEN="${GH_ACCESS_TOKEN}"
          export KUBECONFIG="${KUBECONFIG:-$HOME/.kube/config}"

          if [ "${{ runner.os }}" == "Linux" ]; then
            sudo -E go test -v -ginkgo.v -timeout 3600s --ginkgo.label-filter=${{ matrix.label }}
          else
            go test -v -ginkgo.v -timeout 3600s --ginkgo.label-filter=${{ matrix.label }}
          fi

      - name: verify docker is installed
        if: matrix.label == 'docker-install'
        run: docker --version && docker ps
