name: Release
on:
  release:
    types: [prereleased]

jobs:
  create-release:
    if: startsWith(github.ref, 'refs/tags/v') == true
    permissions:
      contents: write
    runs-on: ubuntu-latest
    outputs:
      package_version: ${{ steps.create-release.outputs.package_version }}
      original_package_version: ${{ steps.create-release.outputs.original_package_version }}
      release_id: ${{ steps.create-release.outputs.release_id }}
    steps:
      - uses: ./.github/actions/create-release
        id: create-release

  build:
    needs: [create-release]
    if: startsWith(github.ref, 'refs/tags/v') == true
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        settings:
          - host: macos-latest
            target: x86_64-apple-darwin
            os: darwin
            arch: amd64
            cli_only: false
          - host: macos-latest
            target: aarch64-apple-darwin
            os: darwin
            arch: arm64
            cli_only: false
          - host: windows-latest
            target: x86_64-pc-windows-msvc
            arch: amd64
            cli_only: false
          - host: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            os: linux
            arch: amd64
            cli_only: false
          - host: ubuntu-latest
            target: aarch64-unknown-linux-gnu
            os: linux
            arch: arm64
            cli_only: true
    name: ${{ matrix.settings.target }}
    runs-on: ${{ matrix.settings.host }}

    steps:
      - name: Setup Build Environment
        uses: ./.github/actions/setup-build-environment
        with:
          host: ${{ matrix.settings.host }}
          target: ${{ matrix.settings.target }}
          package_version: ${{ needs.create-release.outputs.package_version }}
          cli_only: ${{ matrix.settings.cli_only }}

      - name: Build CLI
        uses: ./.github/actions/build-cli
        with:
          host: ${{ matrix.settings.host }}
          target: ${{ matrix.settings.target }}
          os: ${{ matrix.settings.os }}
          arch: ${{ matrix.settings.arch }}
          version: ${{ needs.create-release.outputs.original_package_version }}
          telemetry_private_key: ${{ secrets.DEVPOD_TELEMETRY_PRIVATE_KEY }}
          crane_private_key: ${{ secrets.CRANE_PRIVATE_KEY }}

      - name: Create Linux Release Artifacts
        if: matrix.settings.host == 'ubuntu-latest' && matrix.settings.cli_only == false
        uses: ./.github/actions/create-linux-release-artifacts
        with:
          target: ${{ matrix.settings.target }}
          package_version: ${{ needs.create-release.outputs.package_version }}
          release_id: ${{ needs.create-release.outputs.release_id }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          tauri_private_key: ${{ secrets.TAURI_PRIVATE_KEY }}
          tauri_key_password: ${{ secrets.TAURI_KEY_PASSWORD }}
          app_image_sign: ${{ secrets.APP_IMAGE_SIGN }}
          app_image_sign_key: ${{ secrets.APP_IMAGE_SIGN_KEY }}
          app_image_sign_passphrase: ${{ secrets.APP_IMAGE_SIGN_PASSPHRASE }}

      - name: Create macOS Release Artifacts
        if: matrix.settings.host == 'macos-latest' && matrix.settings.cli_only == false
        uses: ./.github/actions/create-macos-release-artifacts
        with:
          target: ${{ matrix.settings.target }}
          release_id: ${{ needs.create-release.outputs.release_id }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          tauri_private_key: ${{ secrets.TAURI_PRIVATE_KEY }}
          tauri_key_password: ${{ secrets.TAURI_KEY_PASSWORD }}

      - name: Create Windows Release Artifacts
        if: matrix.settings.host == 'windows-latest' && matrix.settings.cli_only == false
        uses: ./.github/actions/create-windows-release-artifacts
        with:
          target: ${{ matrix.settings.target }}
          arch: ${{ matrix.settings.arch }}
          package_version: ${{ needs.create-release.outputs.package_version }}
          release_id: ${{ needs.create-release.outputs.release_id }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          tauri_private_key: ${{ secrets.TAURI_PRIVATE_KEY }}
          tauri_key_password: ${{ secrets.TAURI_KEY_PASSWORD }}

      - name: Upload CLI Asset
        if: matrix.settings.host != 'windows-latest'
        uses: ./.github/actions/upload-cli-asset
        with:
          target: ${{ matrix.settings.target }}
          os: ${{ matrix.settings.os }}
          arch: ${{ matrix.settings.arch }}
          release_id: ${{ needs.create-release.outputs.release_id }}
          github_token: ${{ secrets.GITHUB_TOKEN }}

  publish:
    needs: [build]
    if: startsWith(github.ref, 'refs/tags/v') == true
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Release Pro Provider
        uses: ./.github/actions/release-pro-provider
        with:
          version: v${{ needs.create-release.outputs.original_package_version }}
          github_token: ${{ github.token }}

      - name: Update Latest JSON
        uses: ./.github/actions/update-latest-json
        with:
          release_id: ${{ needs.create-release.outputs.release_id }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
