name: Release
on:
  workflow_dispatch:
    inputs:
      tag:
        description: tag name for the release (e.g., v1.0.0)
        required: true
        type: string

jobs:
  build-cli:
    name: Build CLI Binary on ${{ matrix.runner }}
    strategy:
      matrix:
        include:
          - runner: ubuntu-latest
          - runner: macos-latest
          - runner: windows-latest
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: get operating system lowercase
        id: os
        shell: bash
        run: |
          OS=$(echo "${{ runner.os }}" | tr '[:upper:]' '[:lower:]')
          if [ "$OS" == "macos" ]; then
            OS="darwin"
          fi
          echo "runner_os=$OS" >> "$GITHUB_OUTPUT"

      - uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: "~> v2"
          args: build --id devpod-${{ steps.os.outputs.runner_os }} --snapshot

      - uses: actions/upload-artifact@v6
        with:
          name: devpod-${{ steps.os.outputs.runner_os }}
          path: dist/devpod-${{ steps.os.outputs.runner_os }}_*/devpod-${{ steps.os.outputs.runner_os }}-*

  build-desktop:
    name: Build Desktop App for ${{ matrix.arch }} on ${{ matrix.runner }}
    needs: build-cli
    permissions:
      contents: write
    strategy:
      matrix:
        include:
          - arch: amd64
            target: x86_64-unknown-linux-gnu
            runner: ubuntu-latest
            tauri_include_updater_json: true
            tauri_ci: true

          - arch: amd64
            target: x86_64-apple-darwin
            runner: macos-latest
            tauri_include_updater_json: false
            tauri_ci: true

          - arch: arm64
            target: aarch64-apple-darwin
            runner: macos-latest
            tauri_include_updater_json: false
            tauri_ci: false # https://github.com/tauri-apps/tauri/issues/3055

          - arch: amd64
            target: x86_64-pc-windows-msvc
            runner: windows-latest
            tauri_include_updater_json: false
            tauri_ci: true
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v6

      - name: setup Task
        uses: go-task/setup-task@v1

      - name: setup Node
        uses: actions/setup-node@v6
        with:
          node-version: "latest"

      - name: setup Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}

      - name: setup Rust cache
        uses: swatinem/rust-cache@v2
        with:
          workspaces: "./desktop/src-tauri -> target"

      - name: get operating system lowercase
        id: os
        shell: bash
        run: |
          OS=$(echo "${{ runner.os }}" | tr '[:upper:]' '[:lower:]')
          if [ "$OS" == "macos" ]; then
            OS="darwin"
          fi
          echo "runner_os=$OS" >> "$GITHUB_OUTPUT"

      - name: download CLI artifacts
        uses: actions/download-artifact@v7
        with:
          pattern: devpod-*
          path: ${{ runner.temp }}/devpod-bin/
          merge-multiple: true

      - name: setup executable
        shell: bash
        working-directory: ./desktop/src-tauri
        run: |
          TEMP_DIR="${{ runner.temp }}"
          if [ "${{ runner.os }}" == "Windows" ]; then
            TEMP_DIR="${TEMP_DIR//\\//}"
          fi

          ls -R "$TEMP_DIR/devpod-bin/"
          mkdir -p ./bin/
          find "$TEMP_DIR/devpod-bin/" -type f -name "devpod-*" -exec cp {} ./bin \;
          find ./bin -type f -name "devpod-*" -exec chmod +x {} \;
          ls -R ./bin/

      - name: generate pro provider
        if: matrix.arch == 'amd64' && matrix.runner == 'ubuntu-latest'
        working-directory: ./hack/pro
        run: go run ./main.go ${{ inputs.tag || github.ref_name }} > ${{ runner.temp }}/devpod-bin/provider.yaml

      - name: rename binaries for desktop build
        run: |
          find ./bin -type f -name "devpod-linux-amd64" -exec mv {} ./bin/devpod-cli-x86_64-unknown-linux-gnu \;
          find ./bin -type f -name "devpod-linux-arm64" -exec mv {} ./bin/devpod-cli-aarch64-unknown-linux-gnu \;
          find ./bin -type f -name "devpod-darwin-amd64" -exec mv {} ./bin/devpod-cli-x86_64-apple-darwin \;
          find ./bin -type f -name "devpod-darwin-arm64" -exec mv {} ./bin/devpod-cli-aarch64-apple-darwin \;
          find ./bin -type f -name "devpod-windows-amd64.exe" -exec mv {} ./bin/devpod-cli-x86_64-pc-windows-msvc.exe \;
          find ./bin -type f -name "devpod-windows-arm64.exe" -exec mv {} ./bin/devpod-cli-aarch64-pc-windows-msvc.exe \;
          ls -R ./bin/

      - name: install linux dependencies
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update && sudo apt-get install -y \
            libayatana-appindicator3-dev \
            libgtk-3-dev \
            librsvg2-dev \
            libwebkit2gtk-4.1-dev \
            patchelf

      - name: install desktop dependencies
        run: task desktop:build && task desktop:tauri:generate-types

      - name: tauri build
        uses: tauri-apps/tauri-action@v0.6
        with:
          projectPath: "./desktop"
          args: "--target ${{ matrix.target }}"
          tagName: ${{ inputs.tag || github.ref_name }}
          releaseName: "DevPod ${{ inputs.tag || github.ref_name }}"
          releaseDraft: true
          generateReleaseNotes: true
          includeUpdaterJson: ${{ matrix.tauri_include_updater_json }}
        env:
          GITHUB_TOKEN: ${{ github.token }}
          TAURI_SIGNING_PRIVATE_KEY: ${{ secrets.TAURI_PRIVATE_KEY }}
          CI: ${{ matrix.tauri_ci }}

      - name: upload cli assets
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ inputs.tag || github.ref_name }}
          draft: true
          files: |
            ${{ runner.temp }}/devpod-bin/*
