name: Release
on:
  release:
    types: [prereleased]

jobs:
  create-release:
    if: startsWith(github.ref, 'refs/tags/v') == true
    permissions:
      contents: write
    runs-on: ubuntu-latest
    outputs:
      package_version: ${{ steps.create-release.outputs.package_version }}
      original_package_version: ${{ steps.create-release.outputs.original_package_version }}
      release_id: ${{ steps.create-release.outputs.release_id }}
    steps:
      - uses: ./.github/actions/create-release
        id: create-release

  build-linux:
    needs: [create-release]
    if: startsWith(github.ref, 'refs/tags/v') == true
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        settings:
          - target: x86_64-unknown-linux-gnu
            arch: amd64
            cli_only: false
          - target: aarch64-unknown-linux-gnu
            arch: arm64
            cli_only: true
    name: linux-${{ matrix.settings.target }}
    runs-on: ubuntu-latest

    steps:
      - name: Setup Build Environment
        uses: ./.github/actions/setup-build-environment
        with:
          host: ubuntu-latest
          target: ${{ matrix.settings.target }}
          package_version: ${{ needs.create-release.outputs.package_version }}
          cli_only: ${{ matrix.settings.cli_only }}

      - name: Build CLI
        uses: ./.github/actions/build-cli
        with:
          host: ubuntu-latest
          target: ${{ matrix.settings.target }}
          os: linux
          arch: ${{ matrix.settings.arch }}
          version: ${{ needs.create-release.outputs.original_package_version }}
          telemetry_private_key: ${{ secrets.DEVPOD_TELEMETRY_PRIVATE_KEY }}
          crane_private_key: ${{ secrets.CRANE_PRIVATE_KEY }}

      - name: Create Linux Release Artifacts
        if: matrix.settings.cli_only == false
        uses: ./.github/actions/create-linux-release-artifacts
        with:
          target: ${{ matrix.settings.target }}
          package_version: ${{ needs.create-release.outputs.package_version }}
          release_id: ${{ needs.create-release.outputs.release_id }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          tauri_private_key: ${{ secrets.TAURI_PRIVATE_KEY }}
          tauri_key_password: ${{ secrets.TAURI_KEY_PASSWORD }}
          app_image_sign: ${{ secrets.APP_IMAGE_SIGN }}
          app_image_sign_key: ${{ secrets.APP_IMAGE_SIGN_KEY }}
          app_image_sign_passphrase: ${{ secrets.APP_IMAGE_SIGN_PASSPHRASE }}

      - name: Upload CLI Asset
        uses: ./.github/actions/upload-cli-asset
        with:
          target: ${{ matrix.settings.target }}
          os: linux
          arch: ${{ matrix.settings.arch }}
          release_id: ${{ needs.create-release.outputs.release_id }}
          github_token: ${{ secrets.GITHUB_TOKEN }}

  build-macos:
    needs: [create-release, build-linux]
    if: startsWith(github.ref, 'refs/tags/v') == true
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        settings:
          - target: x86_64-apple-darwin
            arch: amd64
          - target: aarch64-apple-darwin
            arch: arm64
    name: macos-${{ matrix.settings.target }}
    runs-on: macos-latest

    steps:
      - name: Setup Build Environment
        uses: ./.github/actions/setup-build-environment
        with:
          host: macos-latest
          target: ${{ matrix.settings.target }}
          package_version: ${{ needs.create-release.outputs.package_version }}
          cli_only: false

      - name: Build CLI
        uses: ./.github/actions/build-cli
        with:
          host: macos-latest
          target: ${{ matrix.settings.target }}
          os: darwin
          arch: ${{ matrix.settings.arch }}
          version: ${{ needs.create-release.outputs.original_package_version }}
          telemetry_private_key: ${{ secrets.DEVPOD_TELEMETRY_PRIVATE_KEY }}
          crane_private_key: ${{ secrets.CRANE_PRIVATE_KEY }}

      - name: Create macOS Release Artifacts
        uses: ./.github/actions/create-macos-release-artifacts
        with:
          target: ${{ matrix.settings.target }}
          release_id: ${{ needs.create-release.outputs.release_id }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          tauri_private_key: ${{ secrets.TAURI_PRIVATE_KEY }}
          tauri_key_password: ${{ secrets.TAURI_KEY_PASSWORD }}

      - name: Upload CLI Asset
        uses: ./.github/actions/upload-cli-asset
        with:
          target: ${{ matrix.settings.target }}
          os: darwin
          arch: ${{ matrix.settings.arch }}
          release_id: ${{ needs.create-release.outputs.release_id }}
          github_token: ${{ secrets.GITHUB_TOKEN }}

  build-windows:
    needs: [create-release, build-linux]
    if: startsWith(github.ref, 'refs/tags/v') == true
    permissions:
      contents: write
    name: windows-x86_64-pc-windows-msvc
    runs-on: windows-latest

    steps:
      - name: Setup Build Environment
        uses: ./.github/actions/setup-build-environment
        with:
          host: windows-latest
          target: x86_64-pc-windows-msvc
          package_version: ${{ needs.create-release.outputs.package_version }}
          cli_only: false

      - name: Build CLI
        uses: ./.github/actions/build-cli
        with:
          host: windows-latest
          target: x86_64-pc-windows-msvc
          os: windows
          arch: amd64
          version: ${{ needs.create-release.outputs.original_package_version }}
          telemetry_private_key: ${{ secrets.DEVPOD_TELEMETRY_PRIVATE_KEY }}
          crane_private_key: ${{ secrets.CRANE_PRIVATE_KEY }}

      - name: Create Windows Release Artifacts
        uses: ./.github/actions/create-windows-release-artifacts
        with:
          target: x86_64-pc-windows-msvc
          arch: amd64
          package_version: ${{ needs.create-release.outputs.package_version }}
          release_id: ${{ needs.create-release.outputs.release_id }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          tauri_private_key: ${{ secrets.TAURI_PRIVATE_KEY }}
          tauri_key_password: ${{ secrets.TAURI_KEY_PASSWORD }}

  publish:
    needs: [build-linux, build-macos, build-windows]
    if: startsWith(github.ref, 'refs/tags/v') == true
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Release Pro Provider
        uses: ./.github/actions/release-pro-provider
        with:
          version: v${{ needs.create-release.outputs.original_package_version }}
          github_token: ${{ github.token }}

      - name: Update Latest JSON
        uses: ./.github/actions/update-latest-json
        with:
          release_id: ${{ needs.create-release.outputs.release_id }}
          github_token: ${{ secrets.GITHUB_TOKEN }}

