name: Tests

on:
  workflow_dispatch:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: ./.github/actions/compile-test-binary
        with:
          cache-key-suffix: "test"
          binary-cache-key: "test-binary"
          binary-path: ./e2e/bin/devpod-linux-amd64

  integration-test-wave-1:
    needs: [test]
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
    strategy:
      matrix:
        label:
          - context
          - ide
          - integration
          - machine
          - machineprovider
          - provider
          - ssh
          - up-cleanup-fail
          - up-cleanup-invalid
          - up-docker-compose
          - up-env-vars
          - up-error-output
          - up-git-commit
          - up-git-private
          - up-no-devcontainer
          - up-podman
          - up-recreate-local
          - up-recreate-remote
          - up-reset-remote
          - up-subpath

    steps:
      - uses: actions/checkout@v6

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Run integration test
        uses: ./.github/actions/run-integration-test
        with:
          label: ${{ matrix.label }}
          needs-kind: false
          gh-username: ${{ secrets.GH_PRIVATE_REPO_USER_TEST }}
          gh-access-token: ${{ secrets.GH_PRIVATE_REPO_TOKEN_TEST }}
          binary-cache-key: "test-binary"
          binary-path: ./e2e/bin/devpod-linux-amd64

  integration-test-wave-2:
    needs: [test]
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
    strategy:
      matrix:
        label:
          - build
          - up-docker
          - up-docker-build
          - up-docker-compose-build
          - up-git-pr
          - up-kubernetes
        include:
          - label: build
            needs-kind: true
          - label: up-kubernetes
            needs-kind: true

    steps:
      - uses: jlumbroso/free-disk-space@v1.3.1

      - uses: actions/checkout@v6

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Run integration test
        uses: ./.github/actions/run-integration-test
        with:
          label: ${{ matrix.label }}
          needs-kind: ${{ matrix.needs-kind || false }}
          gh-username: ${{ secrets.GH_PRIVATE_REPO_USER_TEST }}
          gh-access-token: ${{ secrets.GH_PRIVATE_REPO_TOKEN_TEST }}
          binary-cache-key: "test-binary"
          binary-path: ./e2e/bin/devpod-linux-amd64

  docker-install-test:
    needs: [test]
    runs-on: ubuntu-latest
    steps:
      - uses: jlumbroso/free-disk-space@v1.3.1

      - uses: actions/checkout@v6

      - uses: ./.github/actions/docker-install-test

  user-interface-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: ./.github/actions/build-user-interface

