name: Tests

on:
  push:
    branches: [main]
  workflow_dispatch:
  pull_request:

concurrency:
  group: tests
  cancel-in-progress: false

jobs:
  compile-linux:
    name: Compile Linux Binary
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: ./.github/actions/compile-linux-binary
        with:
          cache-key-suffix: "test-linux-${{ github.run_id }}"
          binary-cache-key: "test-binary-linux-${{ github.run_id }}"
          binary-path: ./e2e/bin/devpod-linux-amd64

  integration-test-wave-1:
    name: Integration Tests Wave 1
    needs: [compile-linux]
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
    strategy:
      matrix:
        label:
          - context
          - ide
          - integration
          - machine
          - machineprovider
          - provider
          - ssh
    steps:
      - uses: actions/checkout@v6

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Run integration test
        uses: ./.github/actions/run-integration-test
        with:
          label: ${{ matrix.label }}
          needs-kind: false
          gh-username: ${{ secrets.GH_PRIVATE_REPO_USER_TEST }}
          gh-access-token: ${{ secrets.GH_PRIVATE_REPO_TOKEN_TEST }}
          binary-cache-key: "test-binary-linux-${{ github.run_id }}"
          binary-path: ./e2e/bin/devpod-linux-amd64

  integration-test-wave-2:
    name: Integration Tests Wave 2
    needs: [integration-test-wave-1]
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
    strategy:
      matrix:
        label:
          - build
          - up
        include:
          - label: build
            needs-kind: true
          - label: up
            needs-kind: true

    steps:
      - uses: jlumbroso/free-disk-space@v1.3.1

      - uses: actions/checkout@v6

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Run integration test
        uses: ./.github/actions/run-integration-test
        with:
          label: ${{ matrix.label }}
          needs-kind: ${{ matrix.needs-kind || false }}
          gh-username: ${{ secrets.GH_PRIVATE_REPO_USER_TEST }}
          gh-access-token: ${{ secrets.GH_PRIVATE_REPO_TOKEN_TEST }}
          binary-cache-key: "test-binary-linux-${{ github.run_id }}"
          binary-path: ./e2e/bin/devpod-linux-amd64

  compile-windows:
    name: Compile Windows Binary
    needs: [integration-test-wave-2]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: ./.github/actions/compile-windows-binary
        with:
          cache-key-suffix: "test-windows-${{ github.run_id }}"
          binary-cache-key: "test-binary-windows-${{ github.run_id }}"
          binary-path: ./e2e/bin/devpod-windows-amd64.exe

  # NOTE: Integration tests on Windows that pull images fail due to missing Windows images
  # I tried setting up Vampire/setup-wsl@v6 but encountered issues with docker refusing
  # to connect to the WSL2 backend from within the GitHub Actions Windows runner.
  # example error:
  # ```
  # Inspecting image mcr.microsoft.com/devcontainers/go:1-bookworm
  # mcr.microsoft.com/devcontainers/go:1-bookworm not found
  # Pulling image mcr.microsoft.com/devcontainers/go:1-bookworm
  # 1-bookworm: Pulling from devcontainers/go
  # no matching manifest for windows/amd64 10.0.26100 in the manifest list entries
  # exit status 1
  # ```
  integration-test-windows:
    name: Integration Tests Windows
    needs: [compile-windows]
    runs-on: windows-latest
    permissions:
      contents: read
      packages: read
    strategy:
      matrix:
        label:
          - context
          - provider
    steps:
      - name: Free disk space
        shell: pwsh
        run: |
          Get-PSDrive
          Remove-Item -Path "C:\Program Files\Android" -Recurse -Force -ErrorAction SilentlyContinue
          Remove-Item -Path "$env:LOCALAPPDATA\Android" -Recurse -Force -ErrorAction SilentlyContinue
          Remove-Item -Path "C:\hostedtoolcache\windows\dotnet" -Recurse -Force -ErrorAction SilentlyContinue
          Get-PSDrive

      - uses: actions/checkout@v6

      - name: Run integration test
        uses: ./.github/actions/run-integration-test
        with:
          label: ${{ matrix.label }}
          needs-kind: false
          gh-username: ${{ secrets.GH_PRIVATE_REPO_USER_TEST }}
          gh-access-token: ${{ secrets.GH_PRIVATE_REPO_TOKEN_TEST }}
          binary-cache-key: "test-binary-windows-${{ github.run_id }}"
          binary-path: ./e2e/bin/devpod-windows-amd64.exe

  docker-install-test:
    name: Docker Install Test
    needs: [compile-linux, integration-test-wave-1, integration-test-wave-2]
    runs-on: ubuntu-latest
    steps:
      - uses: jlumbroso/free-disk-space@v1.3.1

      - uses: actions/checkout@v6

      - uses: ./.github/actions/docker-install-test
