name: UI Tests

on:
  push:
    branches: [main]
  workflow_dispatch:
  pull_request:

concurrency:
  group: ui-tests
  cancel-in-progress: false

jobs:
  ui:
    name: User Interface Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: setup Node
        uses: actions/setup-node@v6
        with:
          node-version: "latest"

      - name: install dependencies
        working-directory: ./desktop
        run: yarn install --frozen-lockfile

      - name: lint
        working-directory: ./desktop
        run: yarn lint:ci

      - name: format
        working-directory: ./desktop
        run: yarn format:check

      - name: type check
        working-directory: ./desktop
        run: yarn types:check

      - name: build
        working-directory: ./desktop
        run: yarn build
