name: Unit tests

on:
  workflow_dispatch:
  pull_request:

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      # TODO: update 'uses' to @main when action is published
      - uses: ./.github/actions/compile-test-binary

      - uses: robherley/go-test-action@v0
        with:
          testArguments: '-race -coverprofile=coverage.out -covermode=atomic ./... -skip="^Test.*E2E$"'
