name: Unit tests

on:
  workflow_dispatch:
  pull_request:

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup Go
        uses: magnetikonline/action-golang-cache@v5
        with:
          go-version-file: go.mod

      - name: Build
        run: go generate ./... && CGO_ENABLED=0 go build main.go

      - uses: robherley/go-test-action@v0
        with:
          testArguments: '-race -coverprofile=coverage.out -covermode=atomic ./... -skip="^Test.*E2E$"'
